@model List<ClassLibrary_Recruitment.proc_display_team_Result>
@{
    ViewBag.Title = "GetTeamMembers";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
</head>

<div style="text-align:center; color:#D10516; font-family: 'Patua One', cursive;" class="page-header">
    <h2>Team Member Details</h2>
</div>

<form method="post" action="Search_Team_Employee">
    <div class="input-group">
        <input required type="text" class="form-control" placeholder="Search Results" name="p_text" style="border: 2px solid;">
        <span class="input-group-btn">
            <button class="btn btn-danger" type="submit">Search</button>
        </span>
    </div>
</form>



<div class="container-table100">
    <div class="wrap-table100">
        <div class="table100 ver2 m-b-110">
            <table id="EmployeeList" class="tablesorter">
                <thead class="table100-head">
                    <tr class="row100 head">
                        <th class="cell100 column1" style="text-align:center; width:14.2857142857%;">Emp Id</th>
                        <th class="cell100 column1" style="text-align:center; width:14.2857142857%;">Emp Name</th>
                        <th class="cell100 column1" style="text-align:center; width:14.2857142857%;">Business Line</th>
                        <th class="cell100 column1" style="text-align:center; width:14.2857142857%;">Designation</th>
                        <th class="cell100 column1" style="text-align:center; width:14.2857142857%;">Status</th>
                        <th class="cell100 column1" style="text-align:center; width:14.2857142857%;">JobExperience</th>
                    </tr>
                </thead>
                <tbody class="table100-body js-pscroll">
                    @foreach (var item in Model)
                    {
                        <tr class="row100 body">
                            <td class="cell100" style="text-align:center; width:14.2857142857%;">@item.EmpId</td>
                            <td class="cell100" style="text-align:center; width:14.2857142857%;">@item.EmpName</td>
                            <td class="cell100" style="text-align:center; width:14.2857142857%;">@item.BId</td>
                            <td class="cell100" style="text-align:center; width:14.2857142857%;">@item.Designation</td>
                            <td class="cell100" style="text-align:center; width:14.2857142857%;">@item.Status</td>
                            <td class="cell100" style="text-align:center; width:14.2857142857%;">@item.JobExperience</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.tablesorter.addParser({
                id: 'money',
                is: function (s) {
                    return false;
                },
                format: function (s) {
                    //alert(s.replace('$', '').replace('£', '').replace(/,/g, ''));
                    return s.replace('$', '').replace('£', '').replace(/,/g, '');
                },
                type: 'numeric'
            });
            $("#EmployeeList").tablesorter({
                sortList: [[0, 0], [2, 1]],
                headers: {
                    6: { sorter: false },
                    //3: { sorter: false }
                }
            });
        });
    </script>
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.metadata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.min.js")" type="text/javascript"></script>
}
<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });


</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>
}
